SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,testserver

# Local default database engine
DB_ENGINE=sqlite
SQLITE_NAME=dev.sqlite3

# MySQL settings
DB_NAME=proyecto_prog2
DB_USER=proyecto_user
DB_PASSWORD=proyecto123
DB_HOST=127.0.0.1
DB_PORT=3306
DB_CONN_MAX_AGE=60

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@proyecto.local
