SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,testserver

# Use "mysql" when MySQL Server is ready. Leave as "sqlite" for local fallback.
DB_ENGINE=sqlite
SQLITE_NAME=dev.sqlite3

# MySQL settings
DB_NAME=proyecto_prog2
DB_USER=proyecto_user
DB_PASSWORD=change_me
DB_HOST=127.0.0.1
DB_PORT=3306

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@proyecto.local
