-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: proyecto_prog2
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `proyecto_prog2`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `proyecto_prog2` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `proyecto_prog2`;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certifications_certificate`
--

DROP TABLE IF EXISTS `certifications_certificate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `certifications_certificate` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `issue_date` datetime(6) NOT NULL,
  `code` char(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `valid` tinyint(1) NOT NULL,
  `source_phase` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `certifications_certi_student_id_c09d3314_fk_users_usu` (`student_id`),
  CONSTRAINT `certifications_certi_student_id_c09d3314_fk_users_usu` FOREIGN KEY (`student_id`) REFERENCES `users_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certifications_certificate`
--

LOCK TABLES `certifications_certificate` WRITE;
/*!40000 ALTER TABLE `certifications_certificate` DISABLE KEYS */;
/*!40000 ALTER TABLE `certifications_certificate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_users_usuario_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_users_usuario_id` FOREIGN KEY (`user_id`) REFERENCES `users_usuario` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(16,'certifications','certificate'),(4,'contenttypes','contenttype'),(17,'leveling','levelingrecord'),(5,'sessions','session'),(9,'tests_academic','answer'),(7,'tests_academic','question'),(10,'tests_academic','result'),(11,'tests_academic','studentanswer'),(8,'tests_academic','test'),(14,'tracking','inductionconstancy'),(13,'tracking','inductionmodule'),(15,'tracking','inductionparticipation'),(12,'tracking','progress'),(6,'users','usuario');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leveling_levelingrecord`
--

DROP TABLE IF EXISTS `leveling_levelingrecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leveling_levelingrecord` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `synchronous_sessions_attended` int unsigned NOT NULL,
  `synchronous_sessions_total` int unsigned NOT NULL,
  `asynchronous_activities_completed` int unsigned NOT NULL,
  `asynchronous_activities_total` int unsigned NOT NULL,
  `final_exam_score` double NOT NULL,
  `minimum_attendance_percentage` int unsigned NOT NULL,
  `minimum_exam_score` int unsigned NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `student_id` (`student_id`),
  CONSTRAINT `leveling_levelingrecord_student_id_fb52f8fb_fk_users_usuario_id` FOREIGN KEY (`student_id`) REFERENCES `users_usuario` (`id`),
  CONSTRAINT `leveling_levelingrecord_chk_1` CHECK ((`synchronous_sessions_attended` >= 0)),
  CONSTRAINT `leveling_levelingrecord_chk_2` CHECK ((`synchronous_sessions_total` >= 0)),
  CONSTRAINT `leveling_levelingrecord_chk_3` CHECK ((`asynchronous_activities_completed` >= 0)),
  CONSTRAINT `leveling_levelingrecord_chk_4` CHECK ((`asynchronous_activities_total` >= 0)),
  CONSTRAINT `leveling_levelingrecord_chk_5` CHECK ((`minimum_attendance_percentage` >= 0)),
  CONSTRAINT `leveling_levelingrecord_chk_6` CHECK ((`minimum_exam_score` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leveling_levelingrecord`
--

LOCK TABLES `leveling_levelingrecord` WRITE;
/*!40000 ALTER TABLE `leveling_levelingrecord` DISABLE KEYS */;
/*!40000 ALTER TABLE `leveling_levelingrecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tests_academic_answer`
--

DROP TABLE IF EXISTS `tests_academic_answer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tests_academic_answer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `text` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_correct` tinyint(1) NOT NULL,
  `question_id` bigint NOT NULL,
  `order` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tests_academic_answe_question_id_f9956bf0_fk_tests_aca` (`question_id`),
  CONSTRAINT `tests_academic_answe_question_id_f9956bf0_fk_tests_aca` FOREIGN KEY (`question_id`) REFERENCES `tests_academic_question` (`id`),
  CONSTRAINT `tests_academic_answer_chk_1` CHECK ((`order` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tests_academic_answer`
--

LOCK TABLES `tests_academic_answer` WRITE;
/*!40000 ALTER TABLE `tests_academic_answer` DISABLE KEYS */;
/*!40000 ALTER TABLE `tests_academic_answer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tests_academic_question`
--

DROP TABLE IF EXISTS `tests_academic_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tests_academic_question` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `text` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `order` int unsigned NOT NULL,
  `test_id` bigint NOT NULL,
  `question_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `required` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tests_academic_quest_test_id_3d95f0ee_fk_tests_aca` (`test_id`),
  CONSTRAINT `tests_academic_quest_test_id_3d95f0ee_fk_tests_aca` FOREIGN KEY (`test_id`) REFERENCES `tests_academic_test` (`id`),
  CONSTRAINT `tests_academic_question_chk_1` CHECK ((`order` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tests_academic_question`
--

LOCK TABLES `tests_academic_question` WRITE;
/*!40000 ALTER TABLE `tests_academic_question` DISABLE KEYS */;
/*!40000 ALTER TABLE `tests_academic_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tests_academic_result`
--

DROP TABLE IF EXISTS `tests_academic_result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tests_academic_result` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `score` double NOT NULL,
  `passed` tinyint(1) NOT NULL,
  `attempt_number` int unsigned NOT NULL,
  `submitted_at` datetime(6) NOT NULL,
  `student_id` bigint NOT NULL,
  `test_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_student_test_attempt` (`student_id`,`test_id`),
  KEY `tests_academic_result_test_id_486be42b_fk_tests_academic_test_id` (`test_id`),
  CONSTRAINT `tests_academic_result_student_id_4dc57c31_fk_users_usuario_id` FOREIGN KEY (`student_id`) REFERENCES `users_usuario` (`id`),
  CONSTRAINT `tests_academic_result_test_id_486be42b_fk_tests_academic_test_id` FOREIGN KEY (`test_id`) REFERENCES `tests_academic_test` (`id`),
  CONSTRAINT `tests_academic_result_chk_1` CHECK ((`attempt_number` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tests_academic_result`
--

LOCK TABLES `tests_academic_result` WRITE;
/*!40000 ALTER TABLE `tests_academic_result` DISABLE KEYS */;
/*!40000 ALTER TABLE `tests_academic_result` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tests_academic_studentanswer`
--

DROP TABLE IF EXISTS `tests_academic_studentanswer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tests_academic_studentanswer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `answered_at` datetime(6) NOT NULL,
  `answer_id` bigint DEFAULT NULL,
  `question_id` bigint NOT NULL,
  `result_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  `is_correct` tinyint(1) DEFAULT NULL,
  `selected_answer_ids` json NOT NULL DEFAULT (_utf8mb4'[]'),
  `text_response` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_question_per_result` (`result_id`,`question_id`),
  KEY `tests_academic_stude_question_id_ef6a647b_fk_tests_aca` (`question_id`),
  KEY `tests_academic_stude_student_id_bb2ea4e0_fk_users_usu` (`student_id`),
  KEY `tests_academic_stude_answer_id_66b4a286_fk_tests_aca` (`answer_id`),
  CONSTRAINT `tests_academic_stude_answer_id_66b4a286_fk_tests_aca` FOREIGN KEY (`answer_id`) REFERENCES `tests_academic_answer` (`id`),
  CONSTRAINT `tests_academic_stude_question_id_ef6a647b_fk_tests_aca` FOREIGN KEY (`question_id`) REFERENCES `tests_academic_question` (`id`),
  CONSTRAINT `tests_academic_stude_result_id_c4333200_fk_tests_aca` FOREIGN KEY (`result_id`) REFERENCES `tests_academic_result` (`id`),
  CONSTRAINT `tests_academic_stude_student_id_bb2ea4e0_fk_users_usu` FOREIGN KEY (`student_id`) REFERENCES `users_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tests_academic_studentanswer`
--

LOCK TABLES `tests_academic_studentanswer` WRITE;
/*!40000 ALTER TABLE `tests_academic_studentanswer` DISABLE KEYS */;
/*!40000 ALTER TABLE `tests_academic_studentanswer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tests_academic_test`
--

DROP TABLE IF EXISTS `tests_academic_test`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tests_academic_test` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `duration` int unsigned NOT NULL,
  `passing_score` int unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tests_academic_test_created_by_id_26bade48_fk_users_usuario_id` (`created_by_id`),
  CONSTRAINT `tests_academic_test_created_by_id_26bade48_fk_users_usuario_id` FOREIGN KEY (`created_by_id`) REFERENCES `users_usuario` (`id`),
  CONSTRAINT `tests_academic_test_chk_1` CHECK ((`duration` >= 0)),
  CONSTRAINT `tests_academic_test_chk_2` CHECK ((`passing_score` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tests_academic_test`
--

LOCK TABLES `tests_academic_test` WRITE;
/*!40000 ALTER TABLE `tests_academic_test` DISABLE KEYS */;
/*!40000 ALTER TABLE `tests_academic_test` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracking_inductionconstancy`
--

DROP TABLE IF EXISTS `tracking_inductionconstancy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tracking_inductionconstancy` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` char(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `issued_at` datetime(6) NOT NULL,
  `valid` tinyint(1) NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `tracking_inductionco_student_id_c71c320b_fk_users_usu` (`student_id`),
  CONSTRAINT `tracking_inductionco_student_id_c71c320b_fk_users_usu` FOREIGN KEY (`student_id`) REFERENCES `users_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracking_inductionconstancy`
--

LOCK TABLES `tracking_inductionconstancy` WRITE;
/*!40000 ALTER TABLE `tracking_inductionconstancy` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracking_inductionconstancy` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracking_inductionmodule`
--

DROP TABLE IF EXISTS `tracking_inductionmodule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tracking_inductionmodule` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `modality` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `order` int unsigned NOT NULL,
  `required` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `tracking_inductionmodule_chk_1` CHECK ((`order` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracking_inductionmodule`
--

LOCK TABLES `tracking_inductionmodule` WRITE;
/*!40000 ALTER TABLE `tracking_inductionmodule` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracking_inductionmodule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracking_inductionparticipation`
--

DROP TABLE IF EXISTS `tracking_inductionparticipation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tracking_inductionparticipation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `attended` tinyint(1) NOT NULL,
  `completed` tinyint(1) NOT NULL,
  `attended_at` datetime(6) DEFAULT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `module_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_induction_participation` (`student_id`,`module_id`),
  KEY `tracking_inductionpa_module_id_647aba14_fk_tracking_` (`module_id`),
  CONSTRAINT `tracking_inductionpa_module_id_647aba14_fk_tracking_` FOREIGN KEY (`module_id`) REFERENCES `tracking_inductionmodule` (`id`),
  CONSTRAINT `tracking_inductionpa_student_id_812518a9_fk_users_usu` FOREIGN KEY (`student_id`) REFERENCES `users_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracking_inductionparticipation`
--

LOCK TABLES `tracking_inductionparticipation` WRITE;
/*!40000 ALTER TABLE `tracking_inductionparticipation` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracking_inductionparticipation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracking_progress`
--

DROP TABLE IF EXISTS `tracking_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tracking_progress` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `phase` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `completed` tinyint(1) NOT NULL,
  `percentage` double NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_progress_per_phase` (`student_id`,`phase`),
  CONSTRAINT `tracking_progress_student_id_53c4c5d3_fk_users_usuario_id` FOREIGN KEY (`student_id`) REFERENCES `users_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracking_progress`
--

LOCK TABLES `tracking_progress` WRITE;
/*!40000 ALTER TABLE `tracking_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracking_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_usuario`
--

DROP TABLE IF EXISTS `users_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_usuario` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_usuario` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `pregunta_seguridad` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `respuesta_seguridad` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_usuario`
--

LOCK TABLES `users_usuario` WRITE;
/*!40000 ALTER TABLE `users_usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_usuario_groups`
--

DROP TABLE IF EXISTS `users_usuario_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_usuario_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_usuario_groups_usuario_id_group_id_db69fe93_uniq` (`usuario_id`,`group_id`),
  KEY `users_usuario_groups_group_id_9d969afd_fk_auth_group_id` (`group_id`),
  CONSTRAINT `users_usuario_groups_group_id_9d969afd_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `users_usuario_groups_usuario_id_3a8a9a06_fk_users_usuario_id` FOREIGN KEY (`usuario_id`) REFERENCES `users_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_usuario_groups`
--

LOCK TABLES `users_usuario_groups` WRITE;
/*!40000 ALTER TABLE `users_usuario_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_usuario_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_usuario_user_permissions`
--

DROP TABLE IF EXISTS `users_usuario_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_usuario_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_usuario_user_permi_usuario_id_permission_id_9b373975_uniq` (`usuario_id`,`permission_id`),
  KEY `users_usuario_user_p_permission_id_bf5f5453_fk_auth_perm` (`permission_id`),
  CONSTRAINT `users_usuario_user_p_permission_id_bf5f5453_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `users_usuario_user_p_usuario_id_75526fda_fk_users_usu` FOREIGN KEY (`usuario_id`) REFERENCES `users_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_usuario_user_permissions`
--

LOCK TABLES `users_usuario_user_permissions` WRITE;
/*!40000 ALTER TABLE `users_usuario_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_usuario_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'proyecto_prog2'
--

--
-- Dumping routines for database 'proyecto_prog2'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-20 19:33:20
